.container {
    position:relative;
    width: 375px;
    height: 812px;
}

.container_1 {
    width: 335px;
    height: 599px;
    padding: 0;
}

button {
    width: 71.75px;
    height: 72px;
    border-radius: 24px;
    margin: 8px;
    position: relative;
}